@page
@model ConverterModel
@{
    ViewData["Title"] = "Converter";
}

<div class="text-center">
    <h1>Spotify2YT Converter</h1>


    First you are going to need to sign into your Spotify account <a asp-page="/Redirect">here</a>

</div>
